{% extends "base.html" %}

{% block title %}ACL Citation Analysis{% endblock %}
{% block subtitle %}ACL Citation Analysis{% endblock %}

{% block content %}
  Serving {{len1}} Papers by {{len2}} Authors with {{len3}} Tokens<br/>
  <ul>
    <li><a href="/author">Author List</a>
    <li><a href="/paper">Paper List</a>
  </ul>

  <strong>Top ten papers by number of citations:</strong>
  <div class='well well-small'>
  <table class='table'>
    <tr>
      <th>Paper</th>
      <th>Citations</th>
    </tr>
    {% for paper,num in cite_list %}
    <tr>
      <td><a href="/paper/{{paper.id}}">{{paper.title}}</a></td>
      <td>{{num}}</td>
    </tr>
    {% endfor %}
  </table></div>


{% endblock %}
