    <div class = "well well-small">
      <div class = "graph">

<!--
The basic gist of this template came from http://graus.nu/d3/
-->
      <script type="text/javascript" src="/static/d3.v3.min.js"></script>

      <style type="text/css">
          node { 
              stroke-width: 1.5px;
              }
          .graph {
              margin:0 auto;
              width:900px;
              color:#FFF;
              border: 1px dashed #333;
              }
          line {
              stroke: #666;
              }
      </style>
      </div>
    </div>
    
    <script type="text/javascript">

var graph = 'graph.json'

var w = 960, h = 700, r = 10;

var vis = d3.select(".graph")
    .append("svg:svg")
    .attr("width", w)
    .attr("height", h)
    .attr("pointer-events", "all")
    .append('svg:g')
    .call(d3.behavior.zoom().on("zoom", redraw))
    .append('svg:g');

vis.append('svg:rect')
    .attr('width', w)
    .attr('height', h)
    .attr('fill', 'rgba(1,1,1,0)')

function redraw() {
    console.log("here", d3.event.translate, d3.event.scale);
    vis.attr("transform","translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")"); }
    
    var force = d3.layout.force()
        .gravity(.05)
        .charge(function(d){
            if(d.size > 10) {
                return -2000;}
            else {return -200;};
        })
        .linkDistance(function(d){
            return 60;
        })
        .size([w, h]);
    
    var svg = d3.select(".text").append("svg")
        .attr("width", w)
        .attr("height", h);
        
d3.json("/paper/json/{{id}}", function(json) {
        var link = vis.selectAll("line")
            .data(json.links)
            .enter().append("line")
            .attr("stroke-opacity", function(d) { if(d.label == 'is a') { return '0.8';} else{ return '0.2'; }; })
            .attr("stroke-width","6")
            .style("stroke", function(d) { if(d.color !== null) { return d.color;}; })
            .on("mouseover", function(){d3.select(this).style("stroke", "#999999").attr("stroke-opacity", "1.0");})
            .on("mouseout", function(){d3.select(this).style("stroke", function(d) { if(d.color !== null) { return d.color;}; }).attr("stroke-opacity", function(d) { if(d.label == 'is a') { return '0.8';} else { return '0.2'; };}) });

            link.append("title")
                .text(function(d) { return d.label } );

        var node = vis.selectAll("g.node")
            .data(json.nodes)
            .enter().append("svg:g")
            .attr("class","node")
            .on("mouseover", onMouseOver)
            .on("mouseout", onMouseOut)
            .call(force.drag);

            node.append("svg:circle")
                .attr("r", function(d){
                    if (d.size < 10) { d.size = 10 } 
                    return d.size;})
                .style("fill", "#888")
                
            node.append("svg:text")
                .attr("text-anchor", "middle") 
                .style("pointer-events", "none")
                .attr("font-size", function(d) { if (d.color == '#b94431') { return 10+(d.size*2) + 'px'; } else { return "9px"; } } )
                .attr("font-weight", function(d) { if (d.color == '#b94431') { return "bold"; } else { return "100"; } } )
                .text( function(d) { if (d.color == '#b94431') { return d.id + ' (' + d.size + ')';} else { return d.id;} } ) ;
                
            node.append("title")
                .text(function(d) { return d.URI } );

        force
            .nodes(json.nodes)
            .links(json.links)
            .on("tick", tick)
            .start();

    function onMouseOver(d) {
        //bring the node to the front...
        vis.selectAll("g.node").sort(function(a,b) {
            if(a.id == d.id ) {return 1;}
            return -1;});
        d.hovered = true;
        d3.select(this).select("circle")
            .attr("r", function(d){return d.size*2;})
            .style("fill", "#BBB");
        d3.select(this).select("text")
            .style("pointer-events", "all")
            .on("click", function(){window.location = "/paper/" + d.id})
            .text(function(d){return d.title;});
    }
    function onMouseOut(d) {
        d.hovered = false;
        d3.select(this).select("circle")
            .attr("r", function(d){return d.size;})
            .style("fill", "#888");
        d3.select(this).select("text")
            .attr("xlink:href", null)
            .style("pointer-events", "none")
            .on("click", null)
            .text(function(d){return d.id;});
    }

            
  function tick() {
    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")";});

    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
  }
});

    </script>
