{% extends "base.html" %}

{% block title %}Paper Details{% endblock %}
{% block subtitle %} {{ paper }} {% endblock %}

{% block content %}

  Filename: {{paper.filename}} <br/>
  Length: {{paper.length}} <br/>

{% include "paper_detail_graph.html" with id=paper.id %}

  <h2>Authors</h2>
  <div class='well well-small'>
  <ul>
  {% for pauthor in paper.authors.all %}
    <li><a href="/author/{{pauthor.id}}">{{ pauthor }}</a></li>
  {% endfor %}
  </ul>
  </div>

  <h2>Citations</h2>
  <div class='well well-small'>
  <ul>
  {% for cite in paper.citations.all %}
    <li><a href="/paper/{{cite.id}}">{{ cite }}</a></li>
  {% endfor %}
  </ul>
  </div>

  <h2>Papers that cite this one</h2>
  <div class='well well-small'>
  <ul>
  {% for cite in rcitations %}
    <li><a href="/paper/{{cite.id}}">{{ cite }}</a></li>
  {% endfor %}
  </ul>
  </div>

  <h2>Common Tokens</h2>
  <div class='well well-small'>
  <table class='table'>
    <tr><th>Token</th><th>Occurences</th></tr>
    {% for token in common_tokens %}
    <tr>
      <td><a href="/token/{{token.token.id}}">{{token.token}}</a></td>
      <td>{{token.num}}</td>
    </tr>
    {% endfor %}
  </table>
  </div>

  <h2>Uncommon Tokens</h2>
  <div class='well well-small'>
  <table class='table'>
    <tr><th>Token</th><th>Occurences</th></tr>
    {% for token in uncommon_tokens %}
    <tr>
      <td><a href="/token/{{token.token.id}}">{{token.token}}</a></td>
      <td>{{token.num}}</td>
    </tr>
    {% endfor %}
  </table>
  </div>


{% endblock %}
